*{
    text-align: center;
}

#logo{
    margin-top:150px;
}

button{
    width: 60px;
    height: 40px;
}

#lname{
    width: 400px;
    height: 25px;
    margin-top: 8px;
    margin-bottom: 12px;
}

#check{
    font-size: 15px;
}

#account{
    margin-top: 20px;
    width: 400px;
    height: 40px;
    font-size: 17px;
}

#sign{
    font-size: 10px;
}